<!-- Footer -->
<footer class="text-center text-lg-start text-dark mt-auto mb-0 container-fluid mt-auto" style="padding-top: 1rem; padding-bottom: 1rem; background-color: rgb(146, 147, 148);">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Erwan Maigne-Montamat
            </h6>
            <p>
              Ce site est à fin de démonstration et de communication uniquement, merci de ne pas
              chercher à en reprendre le contenu tel quel.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Mes services
            </h6>
            <p>
              <a href="FreelanceStatique" class="text-reset">Site Statique: HTML/CSS/bootstrap</a>
            </p>
            <p>
              <a href="FreelanceDynamique" class="text-reset">Site dynamique avec JS</a>
            </p>
            <p>
              <a href="FreelanceAngular" class="text-reset">Application Angular</a>
            </p>
            <p>
              <a href="Contact" class="text-reset">Une idée? Contactez moi</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Liens utiles
            </h6>
            <p>
              <a href="#!" class="text-reset">Mes Prix</a>
            </p>
            <p>
              <a href="Contact" class="text-reset">Me contacter</a>
            </p>
            <p>
              <a href="FreelanceCommand" class="text-reset">Commander</a>
            </p>
            <p>
              <a href="Contact" class="text-reset">Besoin d'aide</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Sinon vous pouvez me contacter</h6>
            <p><i class="fas fa-home me-3"></i> [insérer mon adresse actuelle]</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              erwan.maigne.montamat.contact@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +33 7 70 12 32 21</p>
            <p><i class="fas fa-print me-3"></i> <a href="Contact" class="link-underline-dark link-dark">Formulaire de contact</a></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
   
  </footer>

