<div class="content">
<h1>Qui suis-je?</h1>

<ul>
    <li>
        <h2>Dans le domaine professionnel</h2>

        <p>Dans le monde professionnel je suis quelqu'un de curieux, franc, et jusqu'au boutiste (pour le meilleur et pour le pire)</p>
        <p>Si je dois travailler sur un projet je donnerais mon maximum pour que celui-ci corresponde à la description qui en aura été faite</p>
        <p>Je suis également quelqu'un de très curieux, si je ne sais pas faire quelque chose, soyez certain que je mettrais le temps nécéssaire pour arriver au résultat attendu</p>
        <p>Enfin, étant quelqu'un qui apprend par les projets, j'ai souvent une multitude de compétence annexes qui si elles ne sont pas forcément diplomée et valorisable sur un CV, peuvent être utile dans la réalisation de vos demandes</p>
        <p>Néanmoins j'ai quelque soucis avec l'implicit, si jamais quelque chose n'a pas été écrit clairement dans le cahier des charges et que nous n'en avons pas discuter sachez que je ferais au plus optimisé selon moi (et donc souvent au plus simple)</p>
    </li>
    <li>
        <h2>Parcours scolaire et compétences</h2><br>
        
        <h3>Je suis un ersatz d'ingénieur </h3><br>
        <p>Je suis un ancien étudiant de l'EPITA (école pour l'informatique et les technologies avancées), une école d'ingénieur en informatique, néanmoins comme vous pouvez le voir ici je ne me défini
        pas comme un ingénieur, il est possible que mon histoire soit celle d'un étudiant qui a échoué ses rattrapages en maths ce qui m'a empêché de poursuivre mon parcours.
        </p><br>

        <h3>Quelques succès tout de même</h3><br>
        <p>Je suis donc techniquement un bachelier, titulaire d'un BAC S option science de l'ingénieur, mention bien
        Après mon échec à l'Epita j'ai eue la chance de pouvoir participer à la formation de développeur FullStack Angular de HNFormation, avec à l'issu un travail de développeur
        </p><br>

        <h3>En dehors du parcours scolaire?</h3><br>
        <p>Etant quelqu'un de curieux par nature j'adore me former sur de nouveaux sujets ou de surpasser mes lacunes afin de pouvoir répondre aux attentes</p>
        <p>Etant quelqu'un d'auto didacte je suis également pas mal de formation et de domaines, notamment sur le site OpenClassroom (anciennement Site du zéro)</p>
    </li>
    <li>
        <h2>En tant qu'humain?</h2>

        <p>Je suis un adepte de jeux de rôles et de musculation (ça peut sembler incompatible mais pas tant que ça) qui adore discuter de sujets aussi variés que complexe</p>
    </li>

</ul>
<br>
</div>